
@{
    Layout = "~/Views/Shared/_CreateFormLayout.cshtml";
    ViewBag.Title = "Create Post"; 
}

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Post != null)
        {
            using (Html.BeginForm("UpdatePost", "Post", FormMethod.Post))
            {
                @Html.Hidden("postId", (int)ViewBag.Post.PostId)
                <label>Title</label>
                @Html.TextBox("title", (string)ViewBag.Post.Title, new { @class = "form-control", @placeholder = "Enter Title" })
                <label>Slug</label>
                @Html.TextBox("slug", (string)ViewBag.Post.Slug, new { @class = "form-control", @placeholder = "Enter Slug" })
                <label>Content</label>
                @Html.TextArea("content", (string)ViewBag.Post.Content, new { @class = "form-control", @rows = 5, @placeholder = "Enter Content" })
                <label>User Id</label>
                @Html.TextBox("userId", (int)ViewBag.Post.UserId, new { @class = "form-control" })
                <label>Publish Date</label>
                @Html.TextBox("publishDate", (DateTime)ViewBag.Post.PublishDate, new { @class = "form-control" })
                <label>Is Deleted</label>
                @Html.TextBox("isDeleted", (bool)ViewBag.Post.IsDeleted, new { @class = "form-control", @placeholder = "False" })
                <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit" style="margin-top: 5px" />
            }
        }
        else
        {
            using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
            {
                <label>Title</label>
                @Html.TextBox("title", null, new { @class = "form-control", @placeholder = "Enter Title" })
                <label>Slug</label>
                @Html.TextBox("slug", null, new { @class = "form-control", @placeholder = "Enter Slug" })
                <label>Content</label>
                @Html.TextArea("content", null, new { @class = "form-control", @rows = 5, @placeholder = "Enter Content" })
                <label>User Id</label>
                @Html.TextBox("userId", null, new { @class = "form-control" })
                <label>Publish Date</label>
                @Html.TextBox("publishDate", DateTime.Now, new { @class = "form-control", @placeholder = DateTime.Today.Date })
                <label>Is Deleted</label>
                @Html.TextBox("isDeleted", "False", new { @class = "form-control", @placeholder = "False" })
                <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit" style="margin-top: 5px" />
            }
        }
    </div>
</div>

