
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width"/>
    <title>User</title>
</head>
<body>
    <div style="margin-left: 10px; margin-right: 10px;margin-top: 10px">

        @using (Html.BeginForm("Search", "User", FormMethod.Get))
        {
            @Html.TextBox("searchVal")
            <input type="submit" name="submit" value="Search" />
        }

        <table class="table table-bordered table-striped" style="margin-top: 10px" >
            <thead>
                <tr>
                    <th> @Html.ActionLink("UserId", "Sort", "User", null, null, null, new { sortOrder = "id_desc" }, null)</th>
                    <th> @Html.ActionLink("Name", "Sort", "User", null, null, null, new { sortOrder = "name_desc" }, null)</th>
                    <th> @Html.ActionLink("Surname", "Sort", "User", null, null, null, new { sortOrder = "surname_desc" }, null)</th>
                    <th> @Html.ActionLink("Email", "Sort", "User", null, null, null, new { sortOrder = "email_desc" }, null)</th>
                    <th> @Html.ActionLink("Password", "Sort", "User", null, null, null, new { sortOrder = "password_desc" }, null)</th>
                    <th style="margin-right: 10px"> @Html.ActionLink("IsDeleted", "Sort", "User", null, null, null, new { sortOrder = "isDeleted_desc" }, null)</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Users != null)
                {
                    foreach (var u in ViewBag.Users)
                    {
                        <tr>
                            <td>
                                @u.UserId
                            </td>
                            <td>
                                @u.Name
                            </td>
                            <td>
                                @u.Surname
                            </td>
                            <td>
                                @u.Email
                            </td>
                            <td>
                                @u.Password
                            </td>
                            <td>
                                @u.IsDeleted
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
