
@{
    ViewBag.Title = "Profile";
    Layout = ViewData["Layout"].ToString();
}
@model List<BlogModel.Post>


<div class="jumbotron">
    <h1>My history</h1>
</div>
<div class="row">
    @foreach (var p in Model)
    {

        <div class="card" style="width: 400px">
            <div class="card-body">
                <h4 class="card-title">@p.Title</h4>
                <p class="card-text text-truncate" style="width: 100px;">@p.Content</p>
                @using (Html.BeginForm("ShowPost", "MainPage", FormMethod.Post))
                {
                    @Html.Hidden("postId", p.PostId)
                    <input class="btn " type="submit" name="submit" value="Read" id="submit" />
                    @Html.Label("Date: " + p.PublishDate, new { @style = "margin-left: 50px" })
                    @Html.Label("Author: " + p.User.Username, new { @style = "margin-left:  150px" })
                }
                <button class="btn ">
                    @Html.ActionLink("Delete", "UserDeletePost", "Post", null, null, null, new {postId = p.PostId }, null)
                </button>

            </div>
        </div>
    }

</div>