@model BlogModel.Post
@{
    Layout = ViewData["Layout"].ToString();
}

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        @using (Html.BeginForm("UserUpdatePost", "Post"))
        {
            @Html.Hidden("postId",Model.PostId)
            @Html.AntiForgeryToken()
            <h4>Редактирование поста</h4>

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            @Html.Label("Заголовок")
            @Html.TextBox("title", Model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})


            @Html.Label("Содержание")
            @Html.TextArea("content", Model.Content, 5, 5, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})


            <input type="submit" value="Save" class="btn btn-primary"/>
        }
    </div>
    <div class="col-sm-3">
    </div>
   

</div>
