
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome to Blog</h1>
    </div>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("Admin Panel", "AdminMain", "Admin", null, null, null, null, new { @class = "btn btn-primary", style = "float:right" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Show all posts", "ShowAll", "MainPage", null, null, null, null, new { @class = "btn btn-primary", style = "float:right" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Create post", "OpenAddPost", "Post", null, null, null, null, new { @class = "btn btn-primary", style = "float:right" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("My profile", "Profile", "Account", null, null, null, null, new { @class = "btn btn-primary", style = "float:right" })
        </li>
    </ul>
</nav>
<div class="container-fluid" style="width: 1200px; margin: 0 auto">

    @RenderBody()
</div>

</body>
</html>
