
@{
    Layout = "~/Views/Shared/_CreateFormLayout.cshtml";
    ViewBag.Title = "Create User"; 
}

<div class="row">
    <div class="col-md-4">
    @if (ViewBag.User != null)
    {
        using (Html.BeginForm("UpdateUser", "User", FormMethod.Post))
        {
            @Html.Hidden("userId", (int) ViewBag.User.UserId)
            <label>Name</label>
            @Html.TextBox("name", (string) ViewBag.User.Name, new {@class = "form-control", @placeholder = "Enter Name"})
            <label>Surname</label>
            @Html.TextBox("surname", (string) ViewBag.User.Surname, new {@class = "form-control", @placeholder = "Enter Surname"})
            <label>Email</label>
            @Html.TextBox("email", (string) ViewBag.User.Email, new {@class = "form-control", @type = "email", @placeholder = "Enter Email"})
            <label>Password</label>
            @Html.TextBox("password", null, new {@class = "form-control", @type = "password"})
            <label>IsDeleted</label>
            @Html.TextBox("isDeleted", (bool) ViewBag.User.IsDeleted, new {@class = "form-control"})
            <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit" style="margin-top: 5px"/>

        }
    }
    else
    {
        using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
        {
            <label>Name</label>
            @Html.TextBox("name", null, new {@class = "form-control", @placeholder = "Enter Name"})
            <label>Surname</label>
            @Html.TextBox("surname", null, new {@class = "form-control", @placeholder = "Enter Surname"})
            <label>Email</label>
            @Html.TextBox("email", null, new {@class = "form-control", @type = "email", @placeholder = "Enter Email"})
            <label>Password</label>
            @Html.TextBox("password", null, new {@class = "form-control", @type = "password"})
            <label>IsDeleted</label>
            @Html.TextBox("isDeleted", null, new {@class = "form-control", @placeholder = "False"})
            <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit" style="margin-top: 5px"/>
        }
    }
     </div>
</div>
