
@{
    Layout = "~/Views/Shared/_CreateFormLayout.cshtml";
    ViewBag.Title = "Create Post"; 
}
@model BlogModel.Post
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row">

<div class="col-md-3">
 </div> 
<div class="col-md-6">
    <!--It is form for updating post -->
    @if (ViewBag.Post != null)
    {
        using (Html.BeginForm("UpdatePost", "Post", FormMethod.Post))
        {
            @Html.Hidden("postId", (int)ViewBag.Post.PostId)
            <div class="form-group text-center">
                <label for="title">Title</label>
                @Html.TextBox("title", (string)ViewBag.Post.Title, new { @class = "form-control", @placeholder = "Enter Title" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <label>Slug</label>
                @Html.TextBox("slug", (string)ViewBag.Post.Slug, new { @placeholder = "Enter Slug" })
                @Html.ValidationMessageFor(m => m.Slug, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <label>Content</label>
                @Html.TextArea("content", (string)ViewBag.Post.Content, new { @id = "content", @class = "form-control", @rows = 5, @placeholder = "Enter Content" })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <label for="userId">User Id</label>
                @Html.TextBox("userId", (int)ViewBag.Post.UserId, new { @type="number" })
                @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <label>Publish Date</label>
                @Html.TextBox("publishDate", (DateTime)ViewBag.Post.PublishDate, new { @class = "form-control" })
            </div>
            <div class="form-group text-center">
                <label>Is Deleted</label>
                @Html.TextBox("isDeleted", (bool)ViewBag.Post.IsDeleted, new { @class = "form-control", @placeholder = "False" })
                @Html.ValidationMessageFor(m => m.IsDeleted, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit" style="margin-top: 5px" />
            </div>
        }
    }
    else
    {
        <!--It is form for creating new post -->
        <div>
            @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
            {
                <div class="form-group text-center">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" placeholder="Enter title">
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center">
                    <label for="slug">Slug</label>
                    <input type="text" name="slug" id="slug" placeholder="Enter slug">
                    @Html.ValidationMessageFor(m => m.Slug, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center">
                    <label>Content</label>
                    @Html.TextArea("content", null, new { @id = "content", @class = "form-control", @rows = 5, @placeholder = "Enter Content" })
                    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center">
                    <label for="userId">User Id</label>
                    <input type="number" name="userId" id="userId" placeholder="">
                    @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center">
                    <label>Publish Date</label>
                    @Html.TextBox("publishDate", DateTime.Now, new { @class = "form-control" })
                </div>
                <div class="form-group text-center">
                    <label>Is Deleted</label>
                    @Html.TextBox("isDeleted", "False", new { @class = "form-control", @placeholder = "False" })
                    @Html.ValidationMessageFor(m => m.IsDeleted, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit" style="margin-top: 5px" />
                </div>
            }
        </div>

    }
</div>
    <div class="col-md-3">
    </div> 

</div>

