
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width"/>
    <title>Posts</title>
</head>
<body>
<div style="margin-left: 10px; margin-right: 10px;margin-top: 10px">

    @using (Html.BeginForm("Search", "Post", FormMethod.Get))
    {
        @Html.TextBox("searchVal")
        <input type="submit" name="submit" value="Search" />
    }

    <table class="table table-bordered table-striped" style="margin-top: 10px">
        <thead>
        <tr>
            <th>@Html.ActionLink("PostId", "Sort", "Post", null, null, null, new { sortOrder = "id_desc"}, null)</th>
            <th>@Html.ActionLink("Title", "Sort", "Post", null, null, null, new { sortOrder = "title_desc" }, null)</th>
            <th>@Html.ActionLink("Slug", "Sort", "Post", null, null, null, new { sortOrder = "slug_desc" }, null)</th>
            <th>@Html.ActionLink("Content", "Sort", "Post", null, null, null, new { sortOrder = "content_desc" }, null)</th>
            <th>@Html.ActionLink("UserId", "Sort", "Post", null, null, null, new { sortOrder = "user_desc"}, null)</th>
            <th>@Html.ActionLink("Date", "Sort", "Post", null, null, null, new { sortOrder = "date_desc" }, null)</th>
            <th style="margin-right: 10px">@Html.ActionLink("IsDeleted", "Sort", "Post", null, null, null, new { sortOrder = "isDeleted_desc"}, null)</th>

        </tr>
        </thead>
        <tbody>
        @if (ViewBag.Posts != null)
        {
            foreach (var p in ViewBag.Posts)
            {
                <tr>
                    <td>
                        @p.PostId
                    </td>
                    <td>
                        @p.Title
                    </td>
                    <td>
                        @p.Slug
                    </td>
                    <td>
                        @p.Content
                    </td>
                    <td>
                        @p.UserId
                    </td>
                    <td>
                        @p.PublishDate
                    </td>
                    <td>
                        @p.IsDeleted
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
</body>
</html>
